{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}

{% block component_account_register_address %}
    {{ parent() }}
    <p style="margin-top:10px; margin-bottom: 10px; padding:10px; background-color: #dff6e3;">Damit das Paket sicher bei Ihnen ankommt überprüfen Sie noch einmal die Richtigkeit der Adressdaten.</p>

{% endblock %}